.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background-image: linear-gradient(to right bottom, #321d7e, #400b52, #360730, #230717, #000000);
  z-index: 50;
}

.loader {
  width: 60px;
  height: 25px;
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l2 2s infinite linear;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}

.loader:after {
  --s:-1;
}

@keyframes l2 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}

.loader-text {
  color: white;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
}