.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  background: rgba(34, 34, 34, 1);
  z-index: 50;
}

.loader {
  width: 60px;
  height: 25px;
  border: 2px solid #82d5f0;
  border-radius: 50%;
  display: grid;
  animation: h2 2s infinite linear;
}
.loader:before,
.loader:after {
  content:"";
  grid-area: 1/1;
  border:inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}
.loader:after {
  --s:-1;
}

@keyframes h2 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}

.loader-text {
  color: white;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
}
